extends layout

block content
    h2= title
    table.table.table-hover
        tbody
            each car in cars
                tr
                    td=car.dataValues.id
                    td=car.dataValues.model.dataValues.brand.dataValues.name
                    td=car.dataValues.model.dataValues.name
                    td
                        img(width="215px", height="125px", src=car.dataValues.image)
                    td
                        a(href="/cars/" + car.dataValues.id) Szczegóły
                    td
                        a(href="/cars/" + car.dataValues.id + "/reservation") Rezerwuj